.hao-sufficienta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .leftnava {
    width: 262px;
    background: #fff;
    height: fit-content;
  }
  .contenta {
    width: 954px;
    background: #fff;
    padding-bottom: 48px;
  }
  .portraita {
    padding-top: 50px;
    text-align: center;
    margin-bottom: 20px;
    cursor: default;
    background: -webkit-linear-gradient(90deg, #fff, #eef9f6);
  }
  .portraita-img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .numbera {
    font-size: 16px;
    margin-bottom: 14px;
  }
  .usera {
    width: fit-content;
    height: 18px;
    line-height: 18px;
    border-radius: 9px;
    border: solid 1px #e6e6e6;
    color: #666;
    margin: auto;
    font-size: 12px;
    padding: 0 6px;
    margin-bottom: 22px;
  }
  .usera1 {
    color: #ec5e5e;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .usera-img {
    width: 14px;
    position: relative;
    top: -2px;
  }
  .dateas {
    margin-bottom: 32px;
    font-size: 12px;
    color: #868686;
    span {
      display: inline-block;
      width: 38px;
      height: 24px;
      border: solid 1px #55b99d;
      color: #55b99d;
      font-size: 13px;
      text-align: center;
      line-height: 24px;
      cursor: pointer;
      margin-left: 13px;
      border-radius: 2px;
    }
    span:hover {
      color: #fff;
      background: #55b99d;
    }
  }
  .leftnava-ul {
    background: #fff;
  }
  .leftnava-li {
    display: block;
    width: auto;
    height: 56px;
    line-height: 56px;
    padding-left: 40px;
    font-family: PingFangSC-Light;
    font-size: 14px;
    color: black;
    cursor: pointer;
    border-left: 3px solid rgba(0, 0, 0, 0);
  }
  .leftnava-li1 {
    background: #55b99d0d;
    border-color: #55b99d;
    color: #55b99d;
  }
  .leftnava-li:hover {
    background: #55b99d0d;
    color: #55b99d;
  }
}
.contenta-top {
  width: 954px;
  position: relative;
  cursor: default;
  .topa-cen {
    font-family: PingFangSC-Thin;
    font-size: 24px;
    color: #666;
    text-align: center;
    line-height: 22px;    
  }
  .topa-servicea,
  .topa-returns {
    position: absolute;
    width: 90px;
    height: 28px;
    line-height: 28px;
    background: #fff;
    font-size: 12px;
    cursor: pointer;
    right: 20px;
    top: 20px;
    color: #666;
    border: 1px solid #f1f1f1;
  }
  .topa-servicea:hover {
    color: #333;
  }
  .topa-qq {
    width: 14px;
    height: 15px;
    margin-left: 10px;
    margin-right: 4px;
    position: relative;
    top: -1px;
  }
  .topa-returns {
    color: #fff;
    background: #55b99d;
    right: 0;
    left: 20px;
    width: 64px;
    height: 28px;
    border-radius: 2px;
    img {
      width: 14px;
      margin: 0 2px 0 8px;
      position: relative;
      top: -2px;
    }
  }
  .topa-returns:hover{
    background: #49a088;
  }
  .topa-namewo {
    display: block;
    height: 86px;
    margin: 0 auto 22px;
    padding-top: 62px;
  }
}

.hides {
  display: none !important;
}
.hao-searcha5 {
  width: 20px;
  height: 21px;
}
.navbar .nav li a {
  text-align: center;
  height: 20px;
}
.hao-customas {
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  span {
    display: inline-block;
    width: 80px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: 6px;
  }
  a {
    position: relative;
    top: -5px;
  }
}
.hao-customas:hover .hao-customas-list {
  display: block;
}
.hao-customas:hover a {
  background-color: unset !important;
}
.hao-customas-list {
  display: none;
  position: absolute;
  width: 160px;
  height: 291px;
  background-color: #fff !important;
  box-shadow: 2px 2px 8px #dedede;
  margin-left: 6px;
  p {
    padding-left: 20px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    cursor: default;
  }
  a {
    display: block;
    padding: 0 !important;
    width: auto !important;
    font-size: 14px;
    padding-left: 20px !important;
    height: 44px !important;
    text-decoration: none;
    line-height: 44px;
    text-align: left !important;
    color: black !important;
  }
  a:hover {
    color: #55b99d !important;
    background: #f5fbf9 !important;
  }
  .a1 {
    color: #55b99d !important;
  }
}
.tella {
  height: 48px;
  line-height: 48px;
  margin-top: 40px;
  padding-left: 14px;
  background-color: #ddf1eb;
  font-size: 15px;
  color: #666;
  cursor: default;
  margin-bottom: 0;
  img {
    width: 20px;
    position: relative;
    top: -1px;
    margin-right: 6px;
  }
}
.go-lista {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eee;
  padding: 34px 80px 12px 20px;
  padding-top: 34px;
  cursor: default;
  font-size: 16px;
  color: black;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
}
.go-lista-li {
  height: 66px;
  line-height: 66px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  cursor: default;
  span {
    display: inline-block;
    width: 68px;
    text-align: center;
    position: relative;
  }
  .one2 {
    width: 191px;
    left: -20px;
  }
  .one3 {
    width: 200px;
    left: -71px;
  }
  .one4 {
    width: 118px;
    left: -76px;
    height: 30px;
  }
  .one5 {
    left: -60px;
  }
  label {
    width: 47px;
    height: 18px;
    background-color: #55b99d;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    line-height: 18px;
    cursor: default;
  }
  select {
    min-height: 30px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ddd;
    border-radius: 0;
    outline: none;
    box-shadow: 0;
    box-sizing: border-box;
  }
  select {
    width: 100%;
    display: inline-block;
    max-width: 100%;
    height: 30px;
    padding-right: 24px;
    padding-right: 8px \9;
    background: #fff
      url("../../img/icon03@3x.png") 
      no-repeat right 8px center;
    background-image: none \9;
    background-size: 10px 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
  }
}
.shouldas {
  margin: 46px 0 30px 0;
  text-align: center;
  font-size: 14px;
  cursor: default;
  span {
    color: #55b99d;
  }
  b {
    font-size: 28px;
    font-weight: unset;
  }
}
.qian-zuhao {
  width: 224px;
  height: 56px;
  display: block;
  margin: auto;
  color: #fff;
  background: #55b99d;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 2px;
}
.qian-zuhao:hover{
  background: #49a088;
}
.paymentaut {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  .paymentaut-box {
    width: 490px;
    height: 440px;
    background-color: #fff;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -265px;
    margin-top: -219.5px;
    padding: 0 20px;
    cursor: default;
  }
  .gus2 {
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 22px;
    right: 30px;
    cursor: pointer;
    background: url("../../img/icon01@3x.png") no-repeat;
    background-size: 100%;
  }
  .gus2:hover {
    background: url("../../img/icon11@3x.png") no-repeat;
    background-size: 100%;
  }
  .zhofu {
    font-size: 14px;
    margin-bottom: 34px;
    margin-top: 60px;
    text-align: center;
  }
  span {
    color: #55b99d;
  }
  b {
    font-size: 28px;
    font-weight: unset;
  }
  l {
    text-decoration: line-through;
    color: #9e9e9e;
  }
  .hintds {
    border-top: 1px solid #eee;
    font-size: 14px;
    padding-top: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #545454;
  }
  .payment-sud {
    display: flex;
    justify-content: space-around;
    width: 100%;
    p {
      width: 140px;
      height: 140px;
      border: solid 1px #e2e2e2;
      padding: 15px;
      border-radius: 2px;
      margin-bottom: 0;
      img {
        width: 100%;
      }
    }
  }
  .payment-names {
    margin-top: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    img {
      width: 32px;
      margin-right: 6px;
    }
    font-size: 16px;
  }
}

.rushsucc {  
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  .rushsucc-box {
    width: 420px;
    height: 439px;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -210px;
    margin-top: -219.5px;
    padding: 0 20px;
    cursor: default;
    border-radius: 3px;
  }
  .gus2 {
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 15px;
    right: 25px;
    cursor: pointer;
    background: url(../../img/icon01@3x.png) no-repeat;
    background-size: 100%;
  }
  .gus2:hover {
    background: url("../../img/icon11@3x.png") no-repeat;
    background-size: 100%;
  }
  .rushsucc-img {
    display: block;
    margin: 60px auto 30px;
    width: 237px;
  }
  .rushsucc-sc {
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
  }
  .rushsucc-xian {
    font-size: 14px;
    color: #666;
    margin-bottom: 40px;
    text-align: center;
    a {
      color: #55b99d;
    }
  }
  .rushsucc-zuhao {
    display: block;
    margin: auto;
    width: 126px;
    height: 40px;
    background-color: #55b99d;
    color: #fff;
    font-size: 16px;
    border: 0;
  }
}

.hao-hengs{
  width: 1px;
  height: 10px;
  border-right: solid 1px #ffffff;
  position: absolute;
  right: -1px;
  top: 50%;
  margin-top: -5px;
}

.hao-navsa{
  a:hover{
    background-color: unset !important;
    color: rgb(136, 238, 221) !important;
  }
}